In [159]:
from IPython.display import Image
from IPython.core.display import HTML

In [404]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [206]:
df_orders = pd.read_csv('../data/orders.csv', header=1)
df_campaign = pd.read_csv('../data/campaign.csv', header=0)

In [207]:
df_orders.columns= df_orders.columns.str.lower()
df_campaign.columns= df_campaign.columns.str.lower()

## Cleaning data

#cleaning 'order_process.csv'

In [295]:
df_order_process = pd.read_csv('../data/order_process.csv', header = 0)
df_order_process.columns = df_order_process.columns.str.lower()

In [296]:
df_order_process

,row id,order id,order date,on truck scan date,ship mode
0,3074,CA-2019-125206,3/1/2019,07/01/2019,Express
1,4919,CA-2019-160304,2/1/2019,09/01/2019,Standard Processing
2,4920,CA-2019-160304,2/1/2019,09/01/2019,Standard Processing
3,8604,US-2019-116365,3/1/2019,09/01/2019,Standard Processing
4,8605,US-2019-116365,3/1/2019,09/01/2019,Standard Processing
...,...,...,...,...,...
5894,908,CA-2020-143259,30/12/2020,06/01/2021,Standard Processing
5895,909,CA-2020-143259,30/12/2020,06/01/2021,Standard Processing
5896,1297,CA-2020-115427,30/12/2020,06/01/2021,Standard Processing
5897,1298,CA-2020-115427,30/12/2020,06/01/2021,Standard Processing
5898,5092,CA-2020-156720,30/12/2020,06/01/2021,Standard Processing

In [297]:
order_process_dup = df_order_process.copy()

In [298]:
order_process_dup

,row id,order id,order date,on truck scan date,ship mode
0,3074,CA-2019-125206,3/1/2019,07/01/2019,Express
1,4919,CA-2019-160304,2/1/2019,09/01/2019,Standard Processing
2,4920,CA-2019-160304,2/1/2019,09/01/2019,Standard Processing
3,8604,US-2019-116365,3/1/2019,09/01/2019,Standard Processing
4,8605,US-2019-116365,3/1/2019,09/01/2019,Standard Processing
...,...,...,...,...,...
5894,908,CA-2020-143259,30/12/2020,06/01/2021,Standard Processing
5895,909,CA-2020-143259,30/12/2020,06/01/2021,Standard Processing
5896,1297,CA-2020-115427,30/12/2020,06/01/2021,Standard Processing
5897,1298,CA-2020-115427,30/12/2020,06/01/2021,Standard Processing
5898,5092,CA-2020-156720,30/12/2020,06/01/2021,Standard Processing

In [299]:
order_process_dup.info()
#upon checking, there is no null value in the table,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5899 entries, 0 to 5898
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   row id              5899 non-null   int64
 1   order id            5899 non-null   object
 2   order date          5899 non-null   object
 3   on truck scan date  5899 non-null   object
 4   ship mode           5899 non-null   object
dtypes: int64(1), object(4)
memory usage: 230.6+ KB

In [300]:
#begin checking duplicates
# Firstly sort out the duplicated order id 
order_process_dup_order_id = order_process_dup[order_process_dup['order id'].duplicated(keep=False)].sort_values('order id')

In [301]:
order_process_dup_order_id.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4341 entries, 2122 to 3795
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   row id              4341 non-null   int64
 1   order id            4341 non-null   object
 2   order date          4341 non-null   object
 3   on truck scan date  4341 non-null   object
 4   ship mode           4341 non-null   object
dtypes: int64(1), object(4)
memory usage: 203.5+ KB

In [214]:
#there are totally 4341 duplicated order id, from 1444 unique order id. These duplicated is because each
# order has different products id, each products id is listed as 1 row, 
order_process_dup_order_id['order id'].nunique()

1444

In [215]:
#drop the 'row id' columns to check duplicates again:
order_process_dup_order_id.drop('row id', axis=1, inplace=True)

In [216]:
#all the orders have the items left on the same date. Except for order 'CA-2020-101182' 2 items on different 
# on truck scan date
order_process_dup_order_id.drop_duplicates(keep=False)

            order id order date on truck scan date ship mode
4216  CA-2020-101182   4/9/2020         07/09/2020   Express
4217  CA-2020-101182   4/9/2020         08/09/2020   Express

In [217]:
df_order_process[df_order_process['order id']=='CA-2020-101182']

      row id        order id order date on truck scan date ship mode
4216    3080  CA-2020-101182   4/9/2020         07/09/2020   Express
4217    3081  CA-2020-101182   4/9/2020         08/09/2020   Express

In [219]:
#check the aboved order id in the orders.csv file: 

df_orders[df_orders['order id']=='CA-2020-101182']

,index,order id,order date,ship mode,customer id,customer name,origin channel,country/region,city,state,postal code,region,category,sub-category,product id,sales,quantity,discount,profit
2542,3080,CA-2020-101182,4/9/2020,First Class,KB-16405,Katrina Bavinger,Facebook,United States,Apple Valley,California,92307.0,West,Power Muesli,Nuts and more,OFF-PA-10001800,12.960,2,0.0,6.2208
3772,3081,CA-2020-101182,4/9/2020,First Class,KB-16405,Katrina Bavinger,Facebook,United States,Apple Valley,California,92307.0,West,Special Projects Muesil,Only Oats,TEC-PH-10003589,43.176,3,0.2,15.1116

## Cleaning orders.csv

In [220]:
df_orders

,index,order id,order date,ship mode,customer id,customer name,origin channel,country/region,city,state,postal code,region,category,sub-category,product id,sales,quantity,discount,profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.570,3,0.0,11.7741
1,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.980,2,0.0,19.7714
2,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.000,3,0.0,4.9500
3,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.000,2,0.0,3.3000
4,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.980,2,0.0,6.1512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9894,US-2019-115441,25/7/2019,Second Class,SH-19975,Sally Hughsby,Sales,United States,Milwaukee,Wisconsin,53209.0,Central,Toasted Muesli,With Nuts,FUR-CH-10004626,403.560,4,0.0,96.8544
9990,9908,US-2018-129007,13/9/2018,First Class,KD-16615,Ken Dana,Sales,United States,Anaheim,California,92804.0,West,Toasted Muesli,With Nuts,FUR-CH-10000155,717.720,3,0.2,71.7720
9991,9913,CA-2018-132388,10/10/2018,First Class,KN-16390,Katherine Nockton,Sales,United States,Santa Barbara,California,93101.0,West,Toasted Muesli,With Nuts,FUR-CH-10001714,362.136,3,0.2,-54.3204
9992,9920,CA-2019-149272,15/3/2019,Standard Class,MY-18295,Muhammed Yedwab,Sales,United States,Bryan,Texas,77803.0,Central,Toasted Muesli,With Nuts,FUR-CH-10000863,528.430,5,0.3,-143.4310
9993,9948,CA-2020-121559,1/6/2020,Second Class,HW-14935,Helen Wasserman,Sales,United States,Indianapolis,Indiana,46203.0,Central,Toasted Muesli,With Nuts,FUR-CH-10003746,1925.880,6,0.0,539.2464

In [221]:
# index columns is id for each products_id in each orders, so it should be unique in every row, 
# Checking duplicates on index column and there is no duplicated index, 
df_orders['index'].duplicated().value_counts()

index
False    9994
Name: count, dtype: int64

In [222]:
# Now trying to drop index columns and check duplicates again, 
orders_dup = df_orders.drop('index', axis=1)
orders_dup

,order id,order date,ship mode,customer id,customer name,origin channel,country/region,city,state,postal code,region,category,sub-category,product id,sales,quantity,discount,profit
0,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,90049.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.570,3,0.0,11.7741
1,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,55122.0,Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.980,2,0.0,19.7714
2,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,19901.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.000,3,0.0,4.9500
3,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,12180.0,East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.000,2,0.0,3.3000
4,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,90004.0,West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.980,2,0.0,6.1512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,US-2019-115441,25/7/2019,Second Class,SH-19975,Sally Hughsby,Sales,United States,Milwaukee,Wisconsin,53209.0,Central,Toasted Muesli,With Nuts,FUR-CH-10004626,403.560,4,0.0,96.8544
9990,US-2018-129007,13/9/2018,First Class,KD-16615,Ken Dana,Sales,United States,Anaheim,California,92804.0,West,Toasted Muesli,With Nuts,FUR-CH-10000155,717.720,3,0.2,71.7720
9991,CA-2018-132388,10/10/2018,First Class,KN-16390,Katherine Nockton,Sales,United States,Santa Barbara,California,93101.0,West,Toasted Muesli,With Nuts,FUR-CH-10001714,362.136,3,0.2,-54.3204
9992,CA-2019-149272,15/3/2019,Standard Class,MY-18295,Muhammed Yedwab,Sales,United States,Bryan,Texas,77803.0,Central,Toasted Muesli,With Nuts,FUR-CH-10000863,528.430,5,0.3,-143.4310
9993,CA-2020-121559,1/6/2020,Second Class,HW-14935,Helen Wasserman,Sales,United States,Indianapolis,Indiana,46203.0,Central,Toasted Muesli,With Nuts,FUR-CH-10003746,1925.880,6,0.0,539.2464

In [223]:
#upon checking there are 2 rows with different index column value but actually duplicate, 
#since all the value is the same from products id to quantity, 
orders_dup[orders_dup.duplicated(keep=False)]

,order id,order date,ship mode,customer id,customer name,origin channel,country/region,city,state,postal code,region,category,sub-category,product id,sales,quantity,discount,profit
9579,US-2017-150119,23/4/2017,Standard Class,LB-16795,Laurel Beltran,Facebook,United States,Columbus,Ohio,43229.0,East,Toasted Muesli,With Nuts,FUR-CH-10002965,281.372,2,0.3,-12.0588
9580,US-2017-150119,23/4/2017,Standard Class,LB-16795,Laurel Beltran,Facebook,United States,Columbus,Ohio,43229.0,East,Toasted Muesli,With Nuts,FUR-CH-10002965,281.372,2,0.3,-12.0588

In [224]:
# Dicision: Drop the duplicated row above fro df_orders 
df_orders.drop(df_orders.index[orders_dup.duplicated(keep='first')], inplace=True)

In [225]:
# Checking again the order ID that contained dropped rows, there is no duplicates for this order ID anymore, 
df_orders[df_orders['order id']=='US-2017-150119']

,index,order id,order date,ship mode,customer id,customer name,origin channel,country/region,city,state,postal code,region,category,sub-category,product id,sales,quantity,discount,profit
6073,3408,US-2017-150119,23/4/2017,Standard Class,LB-16795,Laurel Beltran,Facebook,United States,Columbus,Ohio,43229.0,East,Power Muesli,Super Fibre Boost,OFF-BI-10000145,7.488,8,0.7,-5.2416
8747,3409,US-2017-150119,23/4/2017,Standard Class,LB-16795,Laurel Beltran,Facebook,United States,Columbus,Ohio,43229.0,East,Toasted Muesli,With Fruit and Nuts,FUR-FU-10002191,22.336,4,0.2,7.8176
9579,3406,US-2017-150119,23/4/2017,Standard Class,LB-16795,Laurel Beltran,Facebook,United States,Columbus,Ohio,43229.0,East,Toasted Muesli,With Nuts,FUR-CH-10002965,281.372,2,0.3,-12.0588

In [158]:
df_orders.shape

(9993, 19)

In [205]:
df_order_process

,row id,order id,order date,on truck scan date,ship mode
0,3074,CA-2019-125206,3/1/2019,07/01/2019,Express
1,4919,CA-2019-160304,2/1/2019,09/01/2019,Standard Processing
2,4920,CA-2019-160304,2/1/2019,09/01/2019,Standard Processing
3,8604,US-2019-116365,3/1/2019,09/01/2019,Standard Processing
4,8605,US-2019-116365,3/1/2019,09/01/2019,Standard Processing
...,...,...,...,...,...
5894,908,CA-2020-143259,30/12/2020,06/01/2021,Standard Processing
5895,909,CA-2020-143259,30/12/2020,06/01/2021,Standard Processing
5896,1297,CA-2020-115427,30/12/2020,06/01/2021,Standard Processing
5897,1298,CA-2020-115427,30/12/2020,06/01/2021,Standard Processing
5898,5092,CA-2020-156720,30/12/2020,06/01/2021,Standard Processing

## Merging order_process and orders

In [314]:
merged_order_process = pd.merge(right=df_order_process, left= df_orders, left_on='index', right_on='row id', how='right')

In [315]:
merged_order_process.columns

Index(['index', 'order id_x', 'order date_x', 'ship mode_x', 'customer id',
       'customer name', 'origin channel', 'country/region', 'city', 'state',
       'postal code', 'region', 'category', 'sub-category', 'product id',
       'sales', 'quantity', 'discount', 'profit', 'row id', 'order id_y',
       'order date_y', 'on truck scan date', 'ship mode_y'],
      dtype='object')

In [ ]:
merged_order_process.info()
#after merging, the dataframe still have 5899 rows without any null value,

In [317]:
# Notice that the ship mode in the order files and in order processing file is different,
# upon checking, 'First class '== 'Express', ('Standard Class' or 'Second Class) == 'Standard Processing'
# Decision: Drop the column 'ship mode_x'
print(merged_order_process['ship mode_x'].unique())
print(merged_order_process['ship mode_y'].unique())

['First Class' 'Standard Class' 'Second Class']
['Express' 'Standard Processing']

In [318]:
# Check 'Second Class'
merged_order_process[['ship mode_x', 'ship mode_y']][merged_order_process['ship mode_x']=='Second Class'].value_counts('ship mode_y')

ship mode_y
Standard Processing    1147
Name: count, dtype: int64

In [319]:
# check 'Standard Class'
merged_order_process[['ship mode_x', 'ship mode_y']][merged_order_process['ship mode_x']=='Standard Class'].value_counts('ship mode_y')

ship mode_y
Standard Processing    3449
Name: count, dtype: int64

In [320]:
# check 'First Class'
merged_order_process[['ship mode_x', 'ship mode_y']][merged_order_process['ship mode_x']=='First Class'].value_counts('ship mode_y')

ship mode_y
Express    1303
Name: count, dtype: int64

In [321]:
#drop columns
merged_order_process.drop(columns=['row id', 'order id_y', 'order date_y', 'ship mode_x', 'customer name',
                                    'origin channel', 'discount', 'profit','country/region','city','state',
                                    'region','postal code','category','sub-category','customer id'], inplace=True)

In [324]:
# rename columns
merged_order_process.columns = ['index', 'order id', 'order date', 'product id', 'sales',
       'quantity', 'on truck scan date', 'ship mode']

In [325]:
merged_order_process

,index,order id,order date,product id,sales,quantity,on truck scan date,ship mode
0,3074,CA-2019-125206,3/1/2019,OFF-ST-10003692,114.460,2,07/01/2019,Express
1,4919,CA-2019-160304,2/1/2019,FUR-BO-10004709,173.940,3,09/01/2019,Standard Processing
2,4920,CA-2019-160304,2/1/2019,TEC-PH-10000455,231.980,2,09/01/2019,Standard Processing
3,8604,US-2019-116365,3/1/2019,TEC-AC-10002217,30.080,2,09/01/2019,Standard Processing
4,8605,US-2019-116365,3/1/2019,TEC-AC-10002942,165.600,3,09/01/2019,Standard Processing
...,...,...,...,...,...,...,...,...
5894,908,CA-2020-143259,30/12/2020,TEC-PH-10004774,90.930,7,06/01/2021,Standard Processing
5895,909,CA-2020-143259,30/12/2020,OFF-BI-10003684,52.776,3,06/01/2021,Standard Processing
5896,1297,CA-2020-115427,30/12/2020,OFF-BI-10002103,13.904,2,06/01/2021,Standard Processing
5897,1298,CA-2020-115427,30/12/2020,OFF-BI-10004632,20.720,2,06/01/2021,Standard Processing
5898,5092,CA-2020-156720,30/12/2020,OFF-FA-10003472,3.024,3,06/01/2021,Standard Processing

In [328]:
merged_order_process['order date'] = pd.to_datetime(merged_order_process['order date'], format= 'mixed', dayfirst=True)

In [329]:
merged_order_process['on truck scan date'] = pd.to_datetime(merged_order_process['on truck scan date'], format= 'mixed', dayfirst=True)

In [331]:
merged_order_process

,index,order id,order date,product id,sales,quantity,on truck scan date,ship mode
0,3074,CA-2019-125206,2019-01-03,OFF-ST-10003692,114.460,2,2019-01-07,Express
1,4919,CA-2019-160304,2019-01-02,FUR-BO-10004709,173.940,3,2019-01-09,Standard Processing
2,4920,CA-2019-160304,2019-01-02,TEC-PH-10000455,231.980,2,2019-01-09,Standard Processing
3,8604,US-2019-116365,2019-01-03,TEC-AC-10002217,30.080,2,2019-01-09,Standard Processing
4,8605,US-2019-116365,2019-01-03,TEC-AC-10002942,165.600,3,2019-01-09,Standard Processing
...,...,...,...,...,...,...,...,...
5894,908,CA-2020-143259,2020-12-30,TEC-PH-10004774,90.930,7,2021-01-06,Standard Processing
5895,909,CA-2020-143259,2020-12-30,OFF-BI-10003684,52.776,3,2021-01-06,Standard Processing
5896,1297,CA-2020-115427,2020-12-30,OFF-BI-10002103,13.904,2,2021-01-06,Standard Processing
5897,1298,CA-2020-115427,2020-12-30,OFF-BI-10004632,20.720,2,2021-01-06,Standard Processing
5898,5092,CA-2020-156720,2020-12-30,OFF-FA-10003472,3.024,3,2021-01-06,Standard Processing

In [336]:
merged_order_process_grouped_pre = merged_order_process.groupby('order id').agg({'order date': 'min',
                                              'sales': 'sum',
                                              'quantity': 'sum',
                                              'on truck scan date': 'max',
                                                }).reset_index()

In [340]:
merged_order_process_grouped_pre

            order id order date     sales  quantity on truck scan date
0     CA-2019-100041 2019-11-20   328.540         6         2019-11-27
1     CA-2019-100083 2019-11-24    24.784         1         2019-12-04
2     CA-2019-100153 2019-12-13    63.880         4         2019-12-18
3     CA-2019-100202 2019-12-31   302.376         3         2020-01-08
4     CA-2019-100244 2019-09-20   475.694        19         2019-09-25
...              ...        ...       ...       ...                ...
2997  US-2020-168802 2020-11-03    18.368         4         2020-11-12
2998  US-2020-169320 2020-07-23   171.430         7         2020-07-29
2999  US-2020-169488 2020-09-07    56.860         7         2020-09-09
3000  US-2020-169502 2020-08-28   113.410         8         2020-09-02
3001  US-2020-169551 2020-07-07  1344.838        16         2020-07-10

[3002 rows x 5 columns]

In [346]:
merged_order_process_grouped = pd.merge(left= merged_order_process_grouped_pre, 
                                        right = merged_order_process[['order id', 'ship mode']].drop_duplicates(keep='first'),
                                        how='left', on='order id')

In [347]:
merged_order_process_grouped

,order id,order date,sales,quantity,on truck scan date,ship mode
0,CA-2019-100041,2019-11-20,328.540,6,2019-11-27,Standard Processing
1,CA-2019-100083,2019-11-24,24.784,1,2019-12-04,Standard Processing
2,CA-2019-100153,2019-12-13,63.880,4,2019-12-18,Standard Processing
3,CA-2019-100202,2019-12-31,302.376,3,2020-01-08,Standard Processing
4,CA-2019-100244,2019-09-20,475.694,19,2019-09-25,Standard Processing
...,...,...,...,...,...,...
2997,US-2020-168802,2020-11-03,18.368,4,2020-11-12,Standard Processing
2998,US-2020-169320,2020-07-23,171.430,7,2020-07-29,Standard Processing
2999,US-2020-169488,2020-09-07,56.860,7,2020-09-09,Express
3000,US-2020-169502,2020-08-28,113.410,8,2020-09-02,Standard Processing
3001,US-2020-169551,2020-07-07,1344.838,16,2020-07-10,Express

## cleaning intern data

In [383]:
df_intern= pd.read_csv('../data/internal.csv',header=0)
df_intern.columns = df_intern.columns.str.lower()

In [384]:
df_intern.head(20)

          order id ready to ship date pickup date
0   CA-2019-116540         02/09/2019  03/09/2019
1   CA-2019-116540         02/09/2019  03/09/2019
2   CA-2019-129847         04/09/2019  04/09/2019
3   CA-2019-129630         04/09/2019  04/09/2019
4   CA-2019-106278         05/09/2019  06/09/2019
5   CA-2019-158099         05/09/2019  06/09/2019
6   CA-2019-106278         05/09/2019  06/09/2019
7   CA-2019-132143         05/09/2019  06/09/2019
8   CA-2019-158099         05/09/2019  06/09/2019
9   CA-2019-126732         06/09/2019  09/09/2019
10  CA-2019-106950         06/09/2019  09/09/2019
11  CA-2019-130407         06/09/2019  09/09/2019
12  CA-2019-106950         06/09/2019  09/09/2019
13  CA-2019-106950         06/09/2019  09/09/2019
14  US-2019-101616         06/09/2019  06/09/2019
15  CA-2019-106950         06/09/2019  09/09/2019
16  CA-2019-126732         06/09/2019  09/09/2019
17  CA-2019-126732         06/09/2019  09/09/2019
18  CA-2019-106950         06/09/2019  09/09/2019
19  CA-2019-126732         06/09/2019  09/09/2019

In [385]:
#drop duplicated
df_intern.drop_duplicates(keep='first',inplace=True)

In [386]:
df_intern

           order id ready to ship date pickup date
0    CA-2019-116540         02/09/2019  03/09/2019
2    CA-2019-129847         04/09/2019  04/09/2019
3    CA-2019-129630         04/09/2019  04/09/2019
4    CA-2019-106278         05/09/2019  06/09/2019
5    CA-2019-158099         05/09/2019  06/09/2019
..              ...                ...         ...
283  US-2020-165456         03/12/2020  04/12/2020
284  US-2020-110576         04/12/2020  07/12/2020
285  CA-2020-105333         04/12/2020  07/12/2020
288  CA-2020-119305         04/12/2020  07/12/2020
289  CA-2020-142090         07/12/2020  09/12/2020

[204 rows x 3 columns]

In [387]:
#checking duplicated order id, no more duplicated order id, 
df_intern['order id'].duplicated(keep=False).value_counts()

order id
False    204
Name: count, dtype: int64

In [388]:
# all the order id observed by the intern is already in order in of order processing file, 
df_intern['order id'].isin(merged_order_process_grouped['order id']).value_counts()

order id
True    204
Name: count, dtype: int64

In [389]:
merged_intern = pd.merge(left = merged_order_process_grouped, right = df_intern, how = 'right', on='order id')

In [390]:
merged_intern

,order id,order date,sales,quantity,on truck scan date,ship mode,ready to ship date,pickup date
0,CA-2019-116540,2019-09-02,10.070,3,2019-09-03,Express,02/09/2019,03/09/2019
1,CA-2019-129847,2019-09-02,84.272,2,2019-09-04,Express,04/09/2019,04/09/2019
2,CA-2019-129630,2019-09-04,2824.230,8,2019-09-04,Express,04/09/2019,04/09/2019
3,CA-2019-106278,2019-09-02,281.916,6,2019-09-06,Standard Processing,05/09/2019,06/09/2019
4,CA-2019-158099,2019-09-03,1422.252,8,2019-09-06,Express,05/09/2019,06/09/2019
...,...,...,...,...,...,...,...,...
199,US-2020-165456,2020-11-30,1079.316,6,2020-12-04,Express,03/12/2020,04/12/2020
200,US-2020-110576,2020-11-28,3629.936,34,2020-12-07,Standard Processing,04/12/2020,07/12/2020
201,CA-2020-105333,2020-11-30,899.110,10,2020-12-07,Standard Processing,04/12/2020,07/12/2020
202,CA-2020-119305,2020-11-30,173.800,5,2020-12-07,Standard Processing,04/12/2020,07/12/2020
203,CA-2020-142090,2020-11-30,2165.658,10,2020-12-09,Standard Processing,07/12/2020,09/12/2020

In [391]:
#format date and time 
merged_intern['ready to ship date'] = pd.to_datetime(merged_intern['ready to ship date'], format='mixed', dayfirst=True)
merged_intern['pickup date'] = pd.to_datetime(merged_intern['pickup date'], format='mixed', dayfirst=True)

In [392]:
merged_intern.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order id            204 non-null    object
 1   order date          204 non-null    datetime64[ns]
 2   sales               204 non-null    float64
 3   quantity            204 non-null    int64
 4   on truck scan date  204 non-null    datetime64[ns]
 5   ship mode           204 non-null    object
 6   ready to ship date  204 non-null    datetime64[ns]
 7   pickup date         204 non-null    datetime64[ns]
dtypes: datetime64[ns](4), float64(1), int64(1), object(2)
memory usage: 12.9+ KB

In [393]:
#rearange columns 
merged_intern = merged_intern[['order id', 'sales', 'quantity',
       'ship mode', 'order date','ready to ship date','on truck scan date', 'pickup date']]

In [395]:
merged_intern

,order id,sales,quantity,ship mode,order date,ready to ship date,on truck scan date,pickup date
0,CA-2019-116540,10.070,3,Express,2019-09-02,2019-09-02,2019-09-03,2019-09-03
1,CA-2019-129847,84.272,2,Express,2019-09-02,2019-09-04,2019-09-04,2019-09-04
2,CA-2019-129630,2824.230,8,Express,2019-09-04,2019-09-04,2019-09-04,2019-09-04
3,CA-2019-106278,281.916,6,Standard Processing,2019-09-02,2019-09-05,2019-09-06,2019-09-06
4,CA-2019-158099,1422.252,8,Express,2019-09-03,2019-09-05,2019-09-06,2019-09-06
...,...,...,...,...,...,...,...,...
199,US-2020-165456,1079.316,6,Express,2020-11-30,2020-12-03,2020-12-04,2020-12-04
200,US-2020-110576,3629.936,34,Standard Processing,2020-11-28,2020-12-04,2020-12-07,2020-12-07
201,CA-2020-105333,899.110,10,Standard Processing,2020-11-30,2020-12-04,2020-12-07,2020-12-07
202,CA-2020-119305,173.800,5,Standard Processing,2020-11-30,2020-12-04,2020-12-07,2020-12-07
203,CA-2020-142090,2165.658,10,Standard Processing,2020-11-30,2020-12-07,2020-12-09,2020-12-09

In [402]:
#all the 'on truck date' and 'pickup date' is the same, so we could drop 1 column, 
pd.DataFrame(merged_intern['on truck scan date']==merged_intern['pickup date']).value_counts()

True    204
Name: count, dtype: int64

In [403]:
# delete 'pickup date' column 
merged_intern.drop('pickup date', axis=1, inplace=True)
merged_intern

/var/folders/hx/_2z7hvzn1vd1d_smlbfzlbhc0000gn/T/ipykernel_6088/4124587062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_intern.drop('pickup date', axis=1, inplace=True)

,order id,sales,quantity,ship mode,order date,ready to ship date,on truck scan date
0,CA-2019-116540,10.070,3,Express,2019-09-02,2019-09-02,2019-09-03
1,CA-2019-129847,84.272,2,Express,2019-09-02,2019-09-04,2019-09-04
2,CA-2019-129630,2824.230,8,Express,2019-09-04,2019-09-04,2019-09-04
3,CA-2019-106278,281.916,6,Standard Processing,2019-09-02,2019-09-05,2019-09-06
4,CA-2019-158099,1422.252,8,Express,2019-09-03,2019-09-05,2019-09-06
...,...,...,...,...,...,...,...
199,US-2020-165456,1079.316,6,Express,2020-11-30,2020-12-03,2020-12-04
200,US-2020-110576,3629.936,34,Standard Processing,2020-11-28,2020-12-04,2020-12-07
201,CA-2020-105333,899.110,10,Standard Processing,2020-11-30,2020-12-04,2020-12-07
202,CA-2020-119305,173.800,5,Standard Processing,2020-11-30,2020-12-04,2020-12-07
203,CA-2020-142090,2165.658,10,Standard Processing,2020-11-30,2020-12-07,2020-12-09

In [406]:
# calculate business processing time of the warehouse, 
merged_intern['processing time'] = np.busday_count(merged_intern['order date'].dt.date.values.astype('datetime64[D]'), 
                                                   merged_intern['ready to ship date'].dt.date.values.astype('datetime64[D]'))

In [407]:
merged_intern

,order id,sales,quantity,ship mode,order date,ready to ship date,on truck scan date,processing time
0,CA-2019-116540,10.070,3,Express,2019-09-02,2019-09-02,2019-09-03,0
1,CA-2019-129847,84.272,2,Express,2019-09-02,2019-09-04,2019-09-04,2
2,CA-2019-129630,2824.230,8,Express,2019-09-04,2019-09-04,2019-09-04,0
3,CA-2019-106278,281.916,6,Standard Processing,2019-09-02,2019-09-05,2019-09-06,3
4,CA-2019-158099,1422.252,8,Express,2019-09-03,2019-09-05,2019-09-06,2
...,...,...,...,...,...,...,...,...
199,US-2020-165456,1079.316,6,Express,2020-11-30,2020-12-03,2020-12-04,3
200,US-2020-110576,3629.936,34,Standard Processing,2020-11-28,2020-12-04,2020-12-07,4
201,CA-2020-105333,899.110,10,Standard Processing,2020-11-30,2020-12-04,2020-12-07,4
202,CA-2020-119305,173.800,5,Standard Processing,2020-11-30,2020-12-04,2020-12-07,4
203,CA-2020-142090,2165.658,10,Standard Processing,2020-11-30,2020-12-07,2020-12-09,5

In [408]:
# Calculate business days between the ready date and the on truck time
merged_intern['wait for truck time'] = np.busday_count(merged_intern['ready to ship date'].dt.date.values.astype('datetime64[D]'), 
                                                   merged_intern['on truck scan date'].dt.date.values.astype('datetime64[D]'))

In [409]:
merged_intern

,order id,sales,quantity,ship mode,order date,ready to ship date,on truck scan date,processing time,wait for truck time
0,CA-2019-116540,10.070,3,Express,2019-09-02,2019-09-02,2019-09-03,0,1
1,CA-2019-129847,84.272,2,Express,2019-09-02,2019-09-04,2019-09-04,2,0
2,CA-2019-129630,2824.230,8,Express,2019-09-04,2019-09-04,2019-09-04,0,0
3,CA-2019-106278,281.916,6,Standard Processing,2019-09-02,2019-09-05,2019-09-06,3,1
4,CA-2019-158099,1422.252,8,Express,2019-09-03,2019-09-05,2019-09-06,2,1
...,...,...,...,...,...,...,...,...,...
199,US-2020-165456,1079.316,6,Express,2020-11-30,2020-12-03,2020-12-04,3,1
200,US-2020-110576,3629.936,34,Standard Processing,2020-11-28,2020-12-04,2020-12-07,4,1
201,CA-2020-105333,899.110,10,Standard Processing,2020-11-30,2020-12-04,2020-12-07,4,1
202,CA-2020-119305,173.800,5,Standard Processing,2020-11-30,2020-12-04,2020-12-07,4,1
203,CA-2020-142090,2165.658,10,Standard Processing,2020-11-30,2020-12-07,2020-12-09,5,2

In [412]:
merged_intern['ready to ship day of week'] = merged_intern['ready to ship date'].dt.day_name().str[:3]

In [413]:
merged_intern

,order id,sales,quantity,ship mode,order date,ready to ship date,on truck scan date,processing time,wait for truck time,ready to ship day of week
0,CA-2019-116540,10.070,3,Express,2019-09-02,2019-09-02,2019-09-03,0,1,Mon
1,CA-2019-129847,84.272,2,Express,2019-09-02,2019-09-04,2019-09-04,2,0,Wed
2,CA-2019-129630,2824.230,8,Express,2019-09-04,2019-09-04,2019-09-04,0,0,Wed
3,CA-2019-106278,281.916,6,Standard Processing,2019-09-02,2019-09-05,2019-09-06,3,1,Thu
4,CA-2019-158099,1422.252,8,Express,2019-09-03,2019-09-05,2019-09-06,2,1,Thu
...,...,...,...,...,...,...,...,...,...,...
199,US-2020-165456,1079.316,6,Express,2020-11-30,2020-12-03,2020-12-04,3,1,Thu
200,US-2020-110576,3629.936,34,Standard Processing,2020-11-28,2020-12-04,2020-12-07,4,1,Fri
201,CA-2020-105333,899.110,10,Standard Processing,2020-11-30,2020-12-04,2020-12-07,4,1,Fri
202,CA-2020-119305,173.800,5,Standard Processing,2020-11-30,2020-12-04,2020-12-07,4,1,Fri
203,CA-2020-142090,2165.658,10,Standard Processing,2020-11-30,2020-12-07,2020-12-09,5,2,Mon